---
import RootLayout from "@/layouts/RootLayout.astro";
import Card from "@/components/ui/card.astro";
import { getCollection } from "astro:content";
import { resolveProjectImage } from "@/lib/utils-blog";
import SEO from "@/components/seo/index.astro";
import Schema from "@/components/structured-data/index.astro";

const projects = await getCollection("projects");
const sortedProjects = projects.sort((a, b) => a.data.index - b.data.index);
---

<RootLayout>
  <SEO
    slot="seo"
    title="Projects"
    description="(a non-comprehensive list of) some of the things I help(ed) bring to life."
  />
  <Schema slot="ld+json" type="WebSite" />
  <div class="divide-y divide-gray-200 dark:divide-gray-700">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
      <h1
        class="text-center text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
      >
        projects
      </h1>
      <p class="text-center text-lg leading-7 text-gray-500 dark:text-gray-400">
        (a non-comprehensive list of) some of the things I help(ed) bring to
        life.
      </p>
    </div>
    <div class="container py-8">
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        {
          sortedProjects.map((project) => {
            const props: any = {
              title: project.data.title,
              description: project.data.description,
            };

            if (project.data.imgSrc)
              props.imgSrc = resolveProjectImage(project);
            if (project.data.link) props.link = project.data.link;
            if (project.data.github) props.github = project.data.github;
            if (project.data.blog) props.blog = project.data.blog;
            if (project.data.technologies)
              props.technologies = project.data.technologies;

            return <Card {...props} />;
          })
        }
      </div>
    </div>
  </div>
</RootLayout>
