---
import Tag from "@/components/ui/tag.astro";

interface Post {
  path: string;
  date: string;
  title: string;
  tags?: string[];
}

interface Props {
  content: Post;
  children: any;
}

const { content } = Astro.props;
const { date, title, tags } = content;

// Format date function
function formatDate(date: string, locale: string = "en-US") {
  return new Date(date).toLocaleDateString(locale, {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
}
---

<article>
  <div class="xl:divide-y xl:divide-border">
    <header class="pt-6 xl:pb-6">
      <div class="space-y-1 text-center">
        <dl class="space-y-10">
          <div>
            <dt class="sr-only">Published on</dt>
            <dd
              class="text-base font-medium leading-6 text-muted-foreground"
            >
              <time datetime={date}>{formatDate(date)}</time>
            </dd>
          </div>
        </dl>
        <div>
          <h1
            class="text-3xl font-extrabold leading-9 tracking-tight text-foreground sm:text-4xl sm:leading-10 md:text-5xl md:leading-14"
          >
            {title}
          </h1>
        </div>
      </div>
    </header>
    <div
      class="divide-y divide-border pb-8 xl:grid xl:grid-cols-4 xl:gap-x-6 xl:divide-y-0"
    >
      <dl
        class="pb-8 pt-6 xl:col-span-1 xl:border-b xl:border-border xl:pt-11"
      >
        <dt class="sr-only">Authors</dt>
        <dd>
          <ul
            class="flex flex-wrap justify-center gap-4 xl:flex-col xl:justify-start xl:space-y-8"
          >
            <li class="flex items-center space-x-2 pt-8">
              <span class="text-muted-foreground">•</span>
              <a href="/" class="text-foreground transition-colors hover:text-violet-600 dark:hover:text-violet-400">
                Back to the blog
              </a>
            </li>
          </ul>
        </dd>
      </dl>
      <div
        class="divide-y divide-border xl:col-span-3 xl:row-span-2 xl:pb-0"
      >
        <div class="prose max-w-none pb-8 pt-10 dark:prose-invert">
          <slot />
        </div>
        <footer>
          <div
            class="text-sm font-medium leading-5 xl:col-start-1 xl:row-start-2 xl:divide-y xl:divide-border"
          >
            {
              tags && (
                <div class="py-4 xl:py-8">
                  <h2 class="text-xs uppercase tracking-wide text-muted-foreground">
                    Tags
                  </h2>
                  <div class="flex flex-wrap">
                    {tags.map((tag) => (
                      <Tag text={tag} className="mr-3 mt-3" />
                    ))}
                  </div>
                </div>
              )
            }
          </div>
        </footer>
      </div>
    </div>
  </div>
</article>
