---
interface Props {
  text: string;
  count?: number;
}

const { text, count } = Astro.props;
const normalizedTag = text.toLowerCase();
---

<a
  href={`/tags/${normalizedTag.replace(/\s+/g, "-")}`}
  class="group relative inline-flex items-center overflow-hidden"
>
  <span
    class="hover:bg-primary-50 relative z-10 inline-flex items-center overflow-hidden rounded-l-full border border-primary-200 px-4 py-1.5 text-sm font-medium uppercase tracking-wide text-primary-600 transition-all duration-300 hover:border-primary-300 hover:text-primary-700 dark:border-teal-800 dark:text-teal-300 dark:hover:border-teal-700 dark:hover:bg-teal-900/20 dark:hover:text-teal-200"
  >
    <span>{text.split(" ").join("-")}</span>
    <span
      class="absolute inset-0 h-full w-full translate-x-[-100%] bg-gradient-to-r from-transparent via-primary-100/40 to-transparent transition-transform duration-300 group-hover:translate-x-[100%] dark:via-teal-500/5"
    >
    </span>
  </span>
  {
    count !== undefined && (
      <span class="group-hover:bg-primary-50 relative z-10 -ml-px inline-flex h-full items-center rounded-r-full border border-primary-200 px-3 py-1.5 text-sm font-medium text-gray-600 transition-all duration-300 group-hover:border-primary-300 dark:border-teal-800 dark:text-gray-300 dark:group-hover:border-teal-700 dark:group-hover:bg-teal-900/20">
        {count}
      </span>
    )
  }
</a>
