---
interface Props {
  slug: string;
  x?: boolean;
}

const { slug, x } = Astro.props;
---

<div class="pb-6 pt-6 text-center text-gray-700 dark:text-gray-300">
  <p class="text-sm">
    Comments are disabled for now.
    {
      x && (
        <a
          href={`https://mobile.twitter.com/search?q=${encodeURIComponent(`https://hmzelidrissi.ma/${slug}`)}`}
          target="_blank"
          rel="noopener noreferrer"
          class="text-primary-500 hover:text-primary-600 dark:text-teal-400 dark:hover:text-teal-500"
        >
          Discuss on Twitter
        </a>
      )
    }
  </p>
</div>
